- if @comment.valid?
  $('#comments form').hide();
  $('#comments').append("<h3 class='thanks'>Thanks for your comment. Soon comment will be published.</h3>");
  == $('#all_comments').prepend('<li>#{escape_javascript(@comment.comment)}</li>');
  $.colorbox.resize();
  setTimeout ( "re_init_comments();", 1500 );
- else
  $('#comment_comment').css('border', '1px solid red');
  alert('please leave a comment');