- @location.reload
$e = '#{ escape_javascript(render :partial => '/admin/special_days/location_special', :locals => { :location => @location }) }';
$('#location_special').html($e);

$('.cancel_add_location_special_link').trigger('click');