%h2.greetings Hello owner of #{location.name}, 
%p.greetings We successfully verified your code and now you could sign up on <b>HappyHourScout.com</b> to edit your <b>bar details</b> and <b>specials</b>. Please fill form below and start managing your bar right now.
= image_tag 'Postcard_back_05.jpg', :id => 'greetings_postcard'