.center_block.text_center
  %h2 Hello #{@location.name}! Thanks for taking the time to log on.
  %p We have successfully verified your code.  Please fill out the for below to signup or login if you are already a member to start managing your specials and bar details.