%h1 #{@user.name} on HappyHourScout.com

%br

%h2 #{@user.name} Favorites
    
- if @user.favorites.count > 0
  .cols.cities.places
    - @user.favorites.by_name.in_groups_of(6, false) do |places|
      .col4
        - places.each do |place|
          = render :partial => '/places/place', :locals => { :place => place }
- else
  %p
    #{@user.name} doesn't have any favorite places.