[
#{link_to '+', '#advanced', :id => 'advanced_search', :title => 'Advanced search'}
]
.advanced_search_form.none
%label
  = check_box_tag 'gay_bar', false, false, :id => 'gay_bar_check_box'
  hide gay bars
