%h1 Looking for drink specials?

%p.greetings
  You’re probably thinking why should I register for yet another website?  Registering allows you to:

%ul
  %li Set a homepage with local information.
  %li Add locations to your favorites.
  %li Post reviews and rate bars.

%p.greetings
  We won’t sell your info.  We won’t spam you.