%h1 Looking for drink specials?
%p.greetings We value our users and want to hear your feedback.  Please #{link_to 'contact us', [:new, :contact]} with any feedback, feature requests, or issues you have.  Someone from our team will get back to you quickly.  Thanks!