#bar_left
  width: 280px
  float: left
  
#bar_right
  width: 643px
  float: right
  padding-bottom: 12px
  .bar_content
    width: 643px
    background: $light3
  .reviews_container
    width: 593px
    background: white
    padding: 6px 12px
    border: 1px solid #e4e3e3
  
#bar
  min-height: 700px
  background: $dark2
  margin: 8px 0
  padding-bottom: 6px
  .favorites
    height: 36px
    vertical-align: middle
    p
      padding: 12px
      color: white
      font-size: $base_font_size + 1px
      a
        color: white
    .must_be_logged_in
      vertical-align: middle
      display: inline-block
      color: white
      padding-left: 36px
      height: 32px
      background: transparent url(/images/favorite/1290434803_favorites-add.png) no-repeat bottom left
      font-size: $base_font_size
      line-height: $base_font_size + 3px
    .add_to_favorites_button
      vertical-align: middle
      display: inline-block
      color: white
      padding-left: 42px
      height: 32px
      background: transparent url(/images/favorite/1290121991_favorites-add2.png) no-repeat bottom left
      font-size: $base_font_size + 4px
      line-height: 32px
    .remove_from_favorites_button
      vertical-align: middle
      display: inline-block
      color: white
      padding-left: 42px
      height: 32px
      background: transparent url(/images/favorite/1290121993_favorites-delete2.png) no-repeat center left
      font-size: $base_font_size + 4px
      line-height: 32px
  p.actions 
    padding: 12px 0px
    a
      color: white
      font-weight: bold
      font-size: $base_font_size + 2px
  .bar_name
    margin: 0
    background: transparent url(/images/bg_bar_title.png) repeat-x top left
    width: 100%
    height: 36px
    h1
      color: white
      float: left
      padding-left: 12px
      margin-right: 12px
      margin-top: 12px
    .location_rating
      padding-top: 10px
      float: left
      color: white
    .social
      float: right
      padding-right: 12px
      padding-top: 8px
      height: 18px
  .bar
    min-height: 600px
    padding: 12px
    .menu
      width: 643px
      overflow: hidden
      #bar_show
        +image_button(320, 31, 'barspecials.png')
        border: 0 none
      #bar_reviews
        +image_button(320, 31, 'reviews.png')
        border: 0 none
    #map
      height: 210px
      margin-bottom: 0
    .day
      font-size: $base_font_size
      font-weight: bold
    .description
      color: $cheaperdrinker_dark_bg_color
      +description_configuration
      padding-left: 12px
      padding-top: 6px
    ul li
      padding-bottom: 2em
      list-style-type: none
    .last_updated
      color: white
      text-align: right
      font-size: $base_font_size - 1px
      line-height: $base_font_size * 2
    .bar_reviews_list
      min-height: 600px
      padding: 12px 0 12px 12px
      h1
        margin-top: 0
        color: $dark
        text-transform: uppercase
    .bar_specials_list
      min-height: 600px
      padding: 12px 0 12px 12px
      ul
        margin: 0 12px
        margin-left: 0
        li
          margin: 6px 0
          background: white
          padding: 6px 12px
          border: 1px solid #e4e3e3
          .day
            text-transform: uppercase
            font-size: $base_font_size + 3px
            color: $dark
          .description
            color: #555
            padding-left: 12px
            span
              text-transform: uppercase
              padding-top: 6px
              display: inline-block
              font-weight: bold
    .bar_info
      background: $dark3
      padding: 12px
      color: white
      font-size: $base_font_size + 1px
      line-height: $base_font_size + 2px
      font-weight: bold
      margin-bottom: 6px
      .row
        width: 100%
        vertical-align: middle
        padding-top: 3px
        padding-bottom: 3px
        float: left
        img
          padding-right: 6px
          vertical-align: middle
          float: left
        address, strong
          padding-top: 2px
          float: left
          vertical-align: middle
          color: white
          width: 202px
          line-height: $base_font_size + 3
        strong
          padding-top: 2px
          line-height: $base_font_size + 3px
          
table.bar_schedule
  width: 200px
  clear: both
  margin-top: 0px
  margin-left: 42px
  padding-top: 0px
  margin-bottom: 0px
  padding-bottom: 0px
  tr td, tr th
    padding: 2px 3px
    color: white
    font-size: $base_font_size
    
#bar .bar .nearest
  padding-top: 12px
  color: white
  strong
    font-size: $base_font_size + 4px
    line-height: $base_font_size + 6px
  ul
    float: left
    margin-left: 32px
    padding-bottom: 0
    margin-bottom: 0
    li
      list-style-type: disc
      padding-bottom: 6px
      color: $light2
      a
        color: $light2
        text-decoration: none
        font-size: $base_font_size
        &:hover
          text-decoration: underline
        span
          font-size: $base_font_size - 2px