$blue: #0068be
$light_blue: #0068be + #222
$body_color: #333

$menu_background_color: #FFDE01
$menu_background_color_not_selected: #ccc
$button_color: $menu_background_color + #333
$subnav_bg_color: #FFDE01 + #333

$cheaperdrinker_header_bg_color: #3b5998
$cheaperdrinker_header_text_color: #3b5998
$cheaperdrinker_logo_text_color: #ffffff
$cheaperdrinker_links_color: $cheaperdrinker_header_bg_color
$cheaperdrinker_button_color: #000000
$cheaperdrinker_dark_bg_color: #3b5998
$cheaperdrinker_heading_color: #efcb9b


$dark: #c90316
$light: #e70418

$dark2: #6b8093
$light2: #85A9C9

$dark3: #303940
$light3: #ededed