form.simple_form .textile
  width: 75%
  .markItUpEditor
    background: none
    font-size: 14px
  textarea
    width: 100%
  .markItUp
    margin: 0
    width: 75%
    padding: 0
    border: 0  
  .markItUpContainer
    border: 1px solid #ddd
    
.public_post
  padding-top: 16px
  
.imp_editor_box
  width: 90%
  iframe
    padding: 4px 6px

.img_left
  float: left
  margin-right: 10px 
  margin-bottom: 10px

.img_right
  float: right
  margin-left: 10px
  margin-bottom: 10px
  