#footer
  position: relative
  background: transparent url(/images/bg_footer.png) repeat-x
  ul
    position: absolute
    padding: 0
    margin: 0
    top: 0px
    left: 0px
    li
      float: left
      padding: 0 4px
      padding-right: 8px
      margin: 0 4px
      margin-top: 7px
      border-right: 1px solid #5F6972
      vertical-align: top
      padding-bottom: 2px
      a
        color: white
        font-size: $base_font_size
        line-height: $base_font_size
        vertical-align: top
        text-decoration: none
      &:last-child
        border-right: 0px none

  #twitter
    +image_button(78, 18, 'twitter.png')
  
  #facebook
    +image_button(80, 18, 'facebook.png')
    
  .own_socials
    float: right
    margin-top: 3px
    padding-right: 320px
  
  .social
    position: absolute
    right: 0px
    bottom: 0px
    height: 23px
    margin: 0
    padding: 0
    width: 300px
    line-height: $base_font_size
    overflow: hidden
