#footer
  position: relative
  background: transparent url(/images/bg_footer.png) repeat-x
  ul
    position: absolute
    padding: 0
    margin: 0
    top: 0px
    left: 0px
    li
      float: left
      padding: 0 4px
      padding-right: 8px
      margin: 0 4px
      margin-top: 5px
      border-right: 1px solid #5F6972
      vertical-align: top
      padding-bottom: 2px
      a
        color: white
        font-size: $base_font_size
        line-height: $base_font_size
        vertical-align: top
      &:last-child
        border-right: 0px none

#twitter
  +image_button(78, 18, 'twitter.png')

#facebook
  +image_button(80, 18, 'facebook.png')
  
.own_socials
  float: right
  margin-right: 10px
  margin-top: 3px