#logo
  float: left
  h1
    margin-left: 0px
    margin-top: 16px
    margin-bottom: 16px
    font-size: 32px
    font-weight: normal
    color: $cheaperdrinker_header_text_color
    text-shadow: 1px 1px 1px white
    font-weight: normal
    a
      color: $cheaperdrinker_header_text_color
      text-decoration: none

ul#nav
  color: $cheaperdrinker_header_text_color
  float: right
  li
    float: left
    list-style-type: none
    padding-left: 0px
    padding-right: 6px
    a
      color: $cheaperdrinker_header_text_color
      font-weight: bold
    
ul#general_nav
  margin: 6px 0 6px 0
  li
    float: left
    list-style-type: none
    padding-left: 6px
    
ul#admin_nav
  margin: 6px 0 6px 0
  li
    float: left
    list-style-type: none
    padding-left: 6px

ul#general_nav, ul#admin_nav
  :float left
  :margin-left 0
  li
    font-size: 18px
    float: left
    list-style-type: none
    margin: 3px 16px 3px 0px
    padding: 3px 4px
    -moz-border-radius: 12px
    -webkit-border-radius: 12px
    background: $menu_background_color_not_selected
    &:hover, &.selected
      background: $menu_background_color
      
.header_container
  background: $cheaperdrinker_header_bg_color
  border-bottom: 2px solid $cheaperdrinker_header_text_color