.page
  min-height: 700px
  background: $light4
  margin: 8px 0
  padding-bottom: 6px
  color: white
  .page_title
    margin: 0
    background: transparent url(/images/bg_bar_title.png) repeat-x top left
    width: 100%
    height: 35px
    &.space
      margin-top: 6px
    h1, h2
      color: white
      float: left
      padding-left: 12px
      margin-right: 12px
      margin-top: 12px
      line-height: 16px
      text-transform: uppercase
  .page_block
    margin:  12px
  h2
    color: $light3
  form
    label
      color: white
    .hint
      color: white
    .error
      color: $dark3
  .page_links
    a
      color: $dark3
      font-weight: bold
      
.login_tab
  +image_button(213, 31, 'login_both.png')
  border: 0 none
  float: left
  
.sign_up_tab
  +image_button(213, 31, 'signup_both.png')
  border: 0 none  
  float: left
  
.login_button
  +image_button(81, 28, 'btn_login.png')
  border: 0 none  
  
.cities_navigation
  padding: 6px
  ul
    margin: 0
    padding: 0
    margin-left: 32px
  ul li
    margin: 6px 0
  .city a
    color: white
    font-size: $base_font_size + 5px
    line-height: $base_font_size + 9px
  .neighborhood, .neighborhood a
    color: $light4
    font-size: $base_font_size + 2px
    line-height: $base_font_size + 4px
    
.featured_bars
  padding: 6px
  margin: 0
  background: $dark2
  ul
    padding: 0
    margin: 0
  ul, ul li 
    list-style-type: none
  .place_name
    font-size: $base_font_size + 3px 
    line-height: $base_font_size + 8px
    color: white
  .static_rating
    padding: 6px 0
  .address
    color: $dark4
  hr
    background: transparent url(/images/stripe.png) no-repeat 50% 50%
    border: 0px none
    height: 1px
    margin-bottom: 8px
    margin-top: 8px
    &:last-child
      display: none
  .link_to a
    color: $dark4
    
.home_events
  padding: 6px
  margin: 0
  background: $dark2    
  ul
    padding: 0
    margin: 0
  ul, ul li 
    list-style-type: none
  ul li
    background: white
    border: 1px solid #E4E3E3
    padding: 6px
    margin-bottom: 6px
    &:last-child
      margin-bottom: 0px
  .event_icon  
    float: left
  strong, span
    display: block
    margin-left: 56px
  strong
    color: #333
    font-size: $base_font_size + 3px
    line-height: $base_font_size + 8px
  span
    color: #666
    font-size: $base_font_size + 1px
    line-height: $base_font_size + 5px
  .view_all_events
    padding: 12px 0
    font-size: $base_font_size + 4px
    line-height: $base_font_size + 8px
    color: white
    text-align: center
    display: block