h2.post_title, h2.post_title a
  color: $dark4
  font-size: $base_font_size * 1.5
  line-height: $base_font_size * 1.6
  text-decoration: none
  
.post_content
  h1, h2, h3, h4
    color: $dark2
  h1
    font-size: $base_font_size * 1.35
    line-height: $base_font_size * 1.38
  h2
    font-size: $base_font_size * 1.25
    line-height: $base_font_size * 1.28
  h3
    font-size: $base_font_size * 1.15
    line-height: $base_font_size * 1.18