@import "base"
@import "utils"
@import "colors"
@import "header"
@import "footer"
@import "simple_form"
@import "slider"
@import "autocomplete"
@import "review"
@import "rating"
@import "lists"
@import "colorbox"
@import "sidebar"
@import "info_window"
@import "advanced_filter"
@import "bar"
@import "cities"
@import "places"
@import "search_results"
@import "links"

#root
  margin-left: auto
  margin-right: auto
  width: $width
  max-width: $max_width
  #header
    +grid-container
    height: 100px
    #logo
      +grid(6)
      h1
        font-size: $base_font_size * 2
        padding: 0
    #nav_container
      +grid(16)
      +alpha
      +omega
      ul#nav
        +float-right
        +horizontal-list
        height: 2em
        padding-top: 1em
        li
          +text-right
          padding-right: 6px
          a
            font-size: $base_font_size
            padding: 2px 2px
  #content
    .container
      display: inline
      float: left
      margin-left: $margin
      margin-right: $margin
      width: $width - $margin
      max-width: $max_width
      padding-left: 10px
      padding-right: 10px
    .content_container
      width: 960px
      margin: 0 auto
    .admin_css_class
      width: 95%
      max-width: 1600px
      margin: 0 auto
    div.flash
      margin-top: 0.6em
      margin-bottom: 0.6em
      width: 97%
      +alpha
      +omega
      padding: 4px 6px
      border: $border_for_notice
      +rounded_corners
    div.flash.error
      color: #8a1f11
      background: #fff6bf
      border-color: #ffd324
    div.flash.notice
      color: #514721
      background: #fff6bf
      border-color: #ffd324
    #admin_menu
      +grid(16)
      +alpha
      +omega
      padding-top: 0.3em
      padding-bottom: 0.3em
      position: relative
      z-index: 11
    #admin_section
      +grid(16)
      +alpha
      +omega
      padding-bottom: 1em
      h1, h2, h3
        margin: 0.5em 0
        
#root.full_screen
  margin-left: auto
  margin-right: auto
  width: 100%
  max-width: 100%
  #content
    .container
      margin: 0
      width: 100%
      max-width: 100%
      padding: 0

html body
  font-size: $base_font_size
  line-height: $base_font_size + 2px

.clear
  clear: both  

.left
  float: left
  
.right
  float: right
  
.block
  display: block
  
th
  .current
    padding-right: 20px
    background-repeat: no-repeat
    background-position: right center
  .asc
    background-image: url(/images/sort-asc1.png)
  .desc
    background-image: url(/images/sort-desc1.png)
    
.subfilter
  font-size: $base_font_size
  font-weight: bold
  padding: 2px
  vertical-align: middle
  float: right
  *
    vertical-align: middle
      
.controls a
  font-size: $base_font_size

.reviews
  padding-bottom: 16px
  .review
    font-size: $base_font_size
    margin-bottom: 6px
    border-bottom: 1px solid #ececec
    border-top: 1px solid #ececec
    .when
      float: left
      width: 14%
      padding-right: 1%
      .user
        color: $cheaperdrinker_button_color
        font-weight: bold
      .date
        font-size: $base_font_size - 1px
    .message
      float: left
      width: 85%

#map
  margin-top: 0px
  margin-bottom: 20px
  width: 100%
  height: 200px
  
div.content
  :display block
  
div.left_content
  :float left
  :margin-left -100%
  width: $left_column + 28px

div.right_content
  margin-left: $left_column + 20px + 10px
  padding-right: 4px

.clear
  :clear both
  
.contentwrapper
  :float left
  :width 100%
  
#global_map  
  margin-top: 3px
  float: right
  width: 100%
  height: 800px
  border: 1px solid $map_border_color
  
.bar_specials_info
  p
    span
      font-weight: bold
      display: inline-block
      padding-top: 4px
  
.public_post
  padding-top: 16px

.tooltip
  background-color: #FFFFFF
  border: 2px solid #CCCCCC
  padding: 2px
  white-space: nowrap

.googleMarkerTab .address
  margin-bottom: 0.6em

.tooltip dl, .tooltip dd, .tooltip dt
  margin: 0px
  padding: 0px

.tooltip dt 
  font-weight: bold

.tooltip dd
  margin-left: 1em

.tooltip img
  border: 1px solid #AAAAAA
  display: block
  
.tooltip span
  font-size: $base_font_size - 1px
  color: #999 

h1
  color: $dark
  font-weight: bold

h2, h3, h4
  color: $light
  font-weight: bold

strong
  color: $cheaperdrinker_button_color
  
a
  color: $dark2
  &:visited, &:hover
    color: $dark2
    
#find_bar_form
  padding: 1em
  label
    color: $cheaperdrinker_button_color
    font-weight: bold
    font-size: $base_font_size
  *
    vertical-align: middle
  img
    padding: 2px
  .q_result
    margin-top: 12px
    padding: 1em 0
    color: $cheaperdrinker_dark_bg_color
  label.set_default_address
    font-size: $base_font_size - 1px
    vertical-align: middle
    margin-top: 12px
    display: inline-block
    
.plan
  font-size: $base_font_size - 1px
  line-height: 11px
  padding: 1px 2px
  display: inline-block
  +round_me(3px)
  
.plan.free
  background: green
  color: white

.plan.premium
  background: yellow
  color: black

.plan.premium_plus
  background: purple
  color: white

.cancel_button
  margin-left: 15px
  
.date, .time
  font-size: $base_font_size - 2px
  
#advanced_search
  font-size: $base_font_size + 2px
  line-height: 16px
  font-weight: bold
  text-decoration: none
  
.advanced_search_form
  padding-left: 15px
  padding-top: 10px
  
.start_time_block, .end_time_block, .day_block, .additional_days
  float: left

.description_block textarea
  height: 90px
  
.additional_days
  padding-top: 20px  
  vertical-align: middle
  *
    vertical-align: middle
  label
    display: inline

.admin_location_special
  p
    padding-left: 25px
  table
    width: 95%  
    margin-left: 25px
    
.add_location_special_form
  margin-top: 50px
  display: none
  div
    margin-left: 25px
    
html body a#uservoice-feedback-tab, html body a#uservoice-feedback-tab:link
  top: 50%
  top: 50% !important
  
table.edit_schedule
  width: 300px
  label
    display: none
    
#admin_quick_filter
  padding: 10px 0
  
#dashboard, #admin
  padding-bottom: 20px
  
.verify_ownership_panel
  margin: 0 auto
  width: 800px  
  padding-top: 60px
  text-align: center
  input
    display: inline-block
    margin: 6px 0
  input[type=text]
    padding: 3px 6px
    font-size: $base_font_size * 2
    line-height: ($base_font_size + 2) * 2