= title "Can't find your code, or code was already verified."

.page
  .page_title
    %h1 
      Can't find your code, or code was already verified. 
  .page_block
    .page_links
      %h2 Please #{link_to 'try again', '/verify'} or #{link_to 'contact us', new_contact_path} for more details.