= content_for :map do
  == <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=#{GOOGLE_KEYS[Rails.env.to_s]}" type="text/javascript"></script>
  = javascript_include_tag 'Tooltip.v2'  
  
- content_for :on_ready do
  !== show_bars_on_map(#{Location.all.collect{|l| l.location_info}.to_json});

#global_map.none