if(markers.length > 0) { remove_markers_outside_of_map_bounds(); }

!== var bars = #{@locations.collect{|l| l.location_info}.to_json};

$.each(bars, function() { 

var _id = this['id'];

if(!markers[_id] || markers[_id] == null) { add_bar_icon(this); }

});