var $where = $('#sidebar ul');
total_map_clean();
var map_markers = new Array();

- unless @locations.empty?
  $('#sidebar p').hide();
- else
  $('#sidebar p').show();

!==$.each(#{@locations.collect{|l| l.location_info(@current_day)}.to_json}, function(e, index) { 
var _id = this['id'];
_marker = get_bar_marker(this);
map_markers[index] = _marker['marker'];
});

$where.find('li').remove();
!== $str = '#{escape_javascript(render :partial => '/home/places', :locals => {:places => @locations, :current_day => @current_day})}';
== $where.append($str);

setTimeout("markerClusterer.addMarkers(map_markers)", 30);