var $where = $('#sidebar ul');
total_map_clean();
var map_markers = new Array();

- if @locations.length > 0
  $('#sidebar p').hide();
- else
  $('#sidebar p').show();

- data = @locations.collect { |location| location.cached_location(@current_day) }.to_json

!==$.each(#{data}, function(e, index) {
map_markers.push(get_bar_marker(this));
});

$where.find('li').remove();
!== $str = '#{escape_javascript(render :partial => '/home/places', :locals => {:places => @locations, :current_day => @current_day})}';
== $where.append($str);

markerClusterer.addMarkers(map_markers);

zoom_processor();