var $where = $('#sidebar ul');
total_map_clean();
var map_markers = new Array();

- if @locations.length > 0
  $('#sidebar p').hide();
- else
  $('#sidebar p').show();

- data = @locations.collect { |location| location.cached_location(@current_day, {:start => params['start'], :end => params['end']} ) }.to_json

!==$.each(#{data}, function(e, index) {
map_markers.push(get_bar_marker(this));
});

- if params['zoom'].to_i > 6
  $where.find('li').remove();
  !== $str = '#{escape_javascript(render :partial => '/home/places', :locals => {:places => @locations, :current_day => @current_day})}';
  == $where.append($str).show();
  hide_ajax();

markerClusterer.addMarkers(map_markers);

zoom_processor();