%h1 About

%p Have you ever said “I’m going to close out” only to have a tab that was much higher than you anticipated?  This seems to happen to my friends and I entirely too often.  Going out for drinks should be fun and affordable.  Who wants to pay $9 for a drink?  HappyHourScout.com was founded to try to alleviate some of the excessive tabs people are ending the night with.

%p Years ago a college roommate and I molded a website off this concept more for fun than anything.  It became quite popular, but we quickly reached out programming limit and were forced back to reality when we had no feasible means of expansion.  As the years passed, I kept thinking that a site like this should exist.  Nobody managed to take the idea and turn it into anything, so I decided I would start doing it again.  Thus, HappyHourScout.com was born.  

%p I hope you enjoy the site as much as I do.  It has been nothing short of a painful adventure to create it.  However, I do not regret a moment of it.  If you use the site and find it to be worthwhile, please take a moment and snap a photo while you are at the bar to help us remain up-to-date.

%p
  \- Mike Zehrer, CEO
