= title "FAQ | #{SEO_TITLE_SHORT}"
= description "FAQ's | #{SEO_TITLE_SHORT}"

%h1 FAQs

%h2 What is this site?

%p HappyHourScout.com is a site dedicated to helping you make the most of your time out on the town.  Whether you are looking for early morning bloody marys, mid-afternoon happy hours, or late night drink specials we have you covered.  

%h2 How do I find specials?

%p Adjust the map to the area that you frequent.  The further you zoom in the more detailed it will become.  When you are satisfied with the local displayed on the map, adjust the day and time to when you plan on going out.  The bars that are displayed on the map and in the sidebar are bars that have specials during your select criteria.

%h2 Why would I want to create an account?

%p By creating an account you gain the ability to set your default location, post reviews, add bars, and edit specials.  A simple registration process allows the site to automatically load to your preferred map local upon subsequent visits.  

%h2 Are the specials correct?

%p We do our best to verify specials frequently.  Bars are notorious for changing their specials frequently.  Therefore, we are unable to guarantee the accuracy of any specials other than ones that carry the “Guaranteed” seal.  The bars that have this seal have committed to honoring the special for our users.  You can help us maintain the most accurate database by sending any corrections to us.