- @location.reload
- if @result
  $e = '#{ escape_javascript(render :partial => '/dashboard/special_days/location_special', :locals => { :location => @location }) }';
  $('#location_special').html($e);
  $('.cancel_add_location_special_link').trigger('click');
  $('.add_location_special_form input[type="text"]').val('');
  $('.add_location_special_form textarea').val('');
  $('.add_location_special_form input[type="checkbox"]').attr('checked', '');
- else
  alert('Fill all field');