- unless @result
  alert('You need to fill all fields');
- else
  - @location.reload
  $e = '#{ escape_javascript(render :partial => '/dashboard/special_days/location_special', :locals => { :location => @location }) }';
  $('#location_special').html($e);