= title 'Manage Your Locations'

%h1.left Locations
.add.right= link_to "Add Bar", [:dashboard, :add_bar], :class => 'add_button'
.clear

= render :partial => '/dashboard/locations/locations', :locals => { :user => @user }