- if @location.valid?
  - if @user.locations.count > 0
    !==$('.locations_list_is_empty').hide();
  - else
    !==$('.locations_list_is_empty').show();
  !==$('.location_form input, .location_form textarea, .location_form select').val('');
  !==$('.location_form a.hide').trigger('click');
  !==var $e = "#{ escape_javascript(render :partial => '/dashboard/locations/locations', :locals => { :user => @user }) }";
  !==$('.locations').html($e).find('.location:first').next().effect('highlight', {}, 2000);
- else
  alert('You need to fill all fields');