- if location.reviews.approved.count > 0
  #all_reviews
    %h2 #{location.name} reviews
    - location.reviews.recent.approved.all.each do |review|
      .public_review= render :partial => '/reviews/review', :locals => { :review => review }