- if location.reviews.approved.count > 0
  %h3 Reviews
  #all_reviews.reviews
    - location.reviews.recent.approved.all.each do |review|
      .review= render :partial => '/reviews/review', :locals => { :review => review }