.bar_reviews_list
  %p
    - if logged_in?
      %a{:href => '#reviews', :id => 'post_review'} Post Review
    - else
      %strong Create an #{link_to 'account', new_user_path} or #{link_to 'login', new_user_session_path} to post review.
    
  .reviews_container
    = render :partial => '/reviews/reviews', :locals => { :location => @location }